
<% location_id = params["id"] %>
<% the_location = Location.read(location_id) %>
<% combo = Combo.where("location_id" => the_location["id"]) %>

<h2> <%= the_location["name"] %></h2>

<p> <%= the_location["address"] %></p>

   <img src= "<%= the_location["loc_photo"] %>" width="120" >

 <p> <%= link_to "Class Schedule", the_location["schedule_link"] %> </p>

 <p> <%= link_to "Website", the_location["website_link"] %> </p>

<h4>Activities Offered at this Location</h4>

<ul>

  <% combo.each do |combo| %>
      <% activity = Activity.find_by("id" => combo["activity_id"]) %>
      <% type = Type.find_by("id" => combo["type_id"]) %>
    <li>
      <strong><%= activity["activity"] %> (<%=type["name"] %>) </strong>
    </li>

  <% end %>

</ul>


